﻿
@{
    ViewData["Title"] = "ManagerMenu";
}

<h2>Manager</h2>

<div class="row">
    <a href="~/Incharges/Index">
        <div class="col-lg-5 text-center">
            <img src="~/images/incharges.png" width="30%" />
            <h3>Manage Incharges</h3>
        </div>
    </a>

    <a href="~/Teams/Index">
        <div class="col-lg-5 text-center">
            <img src="~/images/teams.png" width="30%" />
            <h3>Manage Teams</h3>
        </div>
    </a>

    <a href="~/Employees/Index">
        <div class="col-lg-5 text-center">
            <img src="~/images/employees.png" width="30%" />
            <h3>Manage Employees</h3>
        </div>
    </a>

    <a href="~/Presences/Index">
        <div class="col-lg-5 text-center">
            <img src="~/images/presences.png" width="30%" />
            <h3>Manage Presences</h3>
        </div>
    </a>

    <a href="~/Schedules/Index">
        <div class="col-lg-5 text-center">
            <img src="~/images/schedules.png" width="30%" />
            <h3>Manage Schedules</h3>
        </div>
    </a>

    <a href="~/Loans/Index">
        <div class="col-lg-5 text-center">
            <img src="~/images/loans.png" width="30%" />
            <h3>Manage Loans for Team</h3>
        </div>
    </a>

    <a href="~/LoanForEmploys/Index">
        <div class="col-lg-5 text-center">
            <img src="~/images/loanforemploys.png" width="30%" />
            <h3>Manage Loan For Employ</h3>
        </div>
    </a>

    <a href="~/Statistics/Index">
        <div class="col-lg-5 text-center">
            <img src="~/images/statistics.png" width="30%" />
            <h3>Statistics</h3>
        </div>
    </a>

    <a href="~/Absences/Index">
        <div class="col-lg-5 text-center">
            <img src="~/images/absences.png" width="30%" />
            <h3>Manage Absence</h3>
        </div>
    </a>
</div>